<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NetHttpBinding_IFrontEndService1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <!--<netHttpBinding>
        <binding name="NetHttpBinding_IFrontEndService">
          <security mode="None" />
        </binding>
      </netHttpBinding>-->
      <webHttpBinding>
        <binding>
          <security mode="None">
            <transport proxyCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost/FrontEndWCFService/FrontEndService.svc"
        behaviorConfiguration="clientEndpoints" binding="webHttpBinding"
        contract="FrontEndWcfService.IFrontEndService" name="WebHttpBinding_IFrontEndService" />-->
      <endpoint address="http://localhost/FrontEndWCFService/FrontEndService.svc/netHttp" binding="customBinding" bindingConfiguration="NetHttpBinding_IFrontEndService1" behaviorConfiguration="clientEndpoints" contract="FrontEndWcfService.IFrontEndService" name="NetHttpBinding_IFrontEndService" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="telemetryCorrelation" type="Microsoft.ServiceModel.TelemetryCorrelation.TelemetryCorrelationBehaviorElement, Microsoft.ServiceModel.TelemetryCorrelation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="telemetryCorrelation" type="Microsoft.ServiceModel.TelemetryCorrelation.TelemetryCorrelationElement, Microsoft.ServiceModel.TelemetryCorrelation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientEndpoints">
          <!--<clientTelemetry/>-->
          <telemetryCorrelation />
        </behavior>
        <behavior name="webBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
          <!--<telemetryCorrelation/>-->
        </behavior>
      </endpointBehaviors>
      <!--<serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="serviceTelemetryBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <telemetryCorrelation />
        </behavior>
      </serviceBehaviors>-->
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <!--<services>
      <service name="FrontEndWCFService.FrontEndService" behaviorConfiguration="serviceTelemetryBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="FrontEndWCFService.IFrontEndService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
